[submodule "Ansible/roles/unattended-upgrades"]
	path = Ansible/roles/unattended-upgrades
	url = git@github.com:jnv/ansible-role-unattended-upgrades.git
[submodule "Ansible/roles/ubuntu1604-cis"]
	path = Ansible/roles/ubuntu1604-cis
	url = git@github.com:florianutz/Ubuntu1604-CIS.git
[submodule "Ansible/roles/ubuntu1804-cis"]
	path = Ansible/roles/ubuntu1804-cis
	url = git@github.com:florianutz/Ubuntu1804-CIS.git
[submodule "Ansible/roles/rhel7-cis"]
	path = Ansible/roles/rhel7-cis
	url = git@github.com:MindPointGroup/RHEL7-CIS.git
[submodule "Ansible/roles/ssh-hardening"]
	path = Ansible/roles/ssh-hardening
	url = git@github.com:dev-sec/ansible-ssh-hardening.git
[submodule "Ansible/roles/yum-cron"]
	path = Ansible/roles/yum-cron
	url = https://github.com/samdoran/ansible-role-yum-cron
[submodule "Ansible/roles/rhel7-stig"]
	path = Ansible/roles/rhel7-stig
	url = https://github.com/MindPointGroup/RHEL7-STIG
